*{
  box-sizing: border-box;
}
body{
}
.loader{
  background: url("/images/ajax-loader.gif") no-repeat 50%;
}
.auth{
  width: 70%;
  height: 300px;
  margin: auto;
  background: #b3c2bf;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 1px 1px black;
}
.calculations{
  width: 80%;
  padding: 30px;
  margin: auto;
  background: #b3c2bf;
  border-radius: 5px;
  box-shadow: 0 1px 1px black;
}
.user-tab{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.buttons{
  text-align: center;
}
.btn{
    height: 35px;
}
